<!DOCTYPE html>
<html>
<!--
  * Please see the included README.md file for license terms and conditions.
  -->

<head>
    <title>Blank Cordova Mobile App Project Template (Lite)</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Security-Policy" connect-src https://api.mybank.com;>
    <!-- see http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <style>
        /* following two viewport lines are equivalent to the meta viewport statement above, needed for Windows */
        /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */

        @-ms-viewport {
            width: 100vw;
            zoom: 100%;
        }

        @viewport {
            width: 100vw;
            zoom: 100%;
        }

        @-ms-viewport {
            user-zoom: fixed;
        }

        @viewport {
            user-zoom: fixed;
        }
    </style>

    <link href="lib/ionicframework/ionic.min.css" rel="stylesheet">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/loading-bar.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script type="text/javascript" src="bluetoothSerial.js"></script>
    <script src="lib/ionicframework/ionic.bundle.min.js"></script>
    <script src="lib/ionicframework/ngStorage.min.js"></script>
    <script src="lib/ionicframework/angular-resource.min.js"></script>
    <script src="lib/ionicframework/angular-touch.min.js"></script>
    <script src="lib/ionicframework/loading-bar.min.js"></script>
    <script src="lib/ionicframework/angular-inview.js"></script>
    <script src="lib/async.min.js"></script>

    <script src="js/obdInfo.js"></script>
    <script src="cordova.js"></script>
    <!-- phantom library, needed for Cordova api calls, added during build -->
    <script src="js/app.js"></script>
    <!-- recommended location of your JavaScript code relative to other JS files -->
    <script src="xdk/init-dev.js"></script>
    <!-- normalizes device and document ready events, see README for details -->

</head>

<body ng-controller="MainCtrl">
    <!-- the ng-app="ionicApp" removed is added back after the corrdova is erady-->
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-side-menus>

        <ion-side-menu side="left">
            <ion-header-bar class="bar-positive">
                <h1 class="title">Options</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">
                    <a ui-sref="index" class="item" menu-close>Live Data</a>
                </ul>
                <ul class="list">
                    <a ui-sref="configuration" class="item" menu-close>Configuration</a>
                </ul>
                <ul class="list">
                    <a ui-sref="about" class="item" menu-close>About</a>
                </ul>
            </ion-content>
        </ion-side-menu>
        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
                <ion-nav-back-button>
                </ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

    </ion-side-menus>

    <!-- </script> -->
    <script id="index.html" type="text/ng-template">
        <ion-view view-title="OBD Logger Live Data">
            <ion-content class="padding">
                <div class="list list-inset" ng-init="verifyConfigData()">
                    <div class="item">
                        <div class="row">
                            <div class="col col-50">{{livestats.connectionstatus}}</div>
                        </div>
                    </div>
                </div>
                <div class="item item-divider">
                    Metrics
                </div>
                <div class="list list-inset">
                    <div class="item">
                        <div class="row" ng-repeat="metric in livemetrics">
                            <div class="col col-50">{{metric.description}}</div>
                            <div class="col col-25">{{metric.value | number : fractionSize}}</div>
                            <div class="col col-25">{{metric.unit}}</div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>
    <script id="settings.html" type="text/ng-template">
        <ion-view view-title="OBD Logger Configuration">
            <ion-content class="padding">

                <div class="list">
                    <div class="item item-divider">
                        <i class="icon ion-bluetooth"></i> Select Bluetooth Device to Use
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Devices
                        </div>
                        <select ng-model="btdevices.selectedvalue" ng-options="device.name for device in btdevices.devices " ng-change="changebtdevice(btdevices.selectedvalue.id)">
                        </select>
                    </label>
                </div>
                <div class="list">
                    <div class="item item-divider">
                        <i class="icon ion-upload"></i> Google Web APP URL for log uploading
                    </div>
                    <label class="item item-input">
                        <input type="text" placeholder="https://script.google.com/macros/s/..." ng-model="btGoogleSheetAPI" ng-change="changebtGoogleSheetAPI(btGoogleSheetAPI);">
                    </label>
                    <button class="button button-block" ng-click="uploadData()">
                        Upload data manually
                    </button>
                </div>

                <div class="item item-divider">
                    <i class="icon ion-bluetooth"></i> Metrics to Poll
                </div>

                <ul class="list" ng-init="readDefaultMetrics()">
                    <li class="item item-toggle" ng-repeat="metric in metrics" ng-model="metric">
                        {{metric.description}}
                        <label class="toggle">
                            <input type="checkbox" ng-model="metric.metricSelectedToPoll" ng-change="metricToPollClick(metric.name,metric.metricSelectedToPoll)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>


            </ion-content>
        </ion-view>
    </script>
    <script id="about.html" type="text/ng-template">
        <ion-view view-title="OBD Logger About Infomation">
            <ion-content class="padding">
                <h1>License</h1>

                <p>This application is licensed under the Apache License, Version 2.0 (the "License")</p>
                <p>You may not use this file except in compliance with the License.</p>
                <p>You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0</p>

                <p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</p>
                <p>See the License for the specific language governing permissions and limitations under the License.</p>
                <p>(C) Copyright 2013, TNO</p>
                <p>Author: Javier Enrique Navarro</p>
                <h1>Acknowledgements</h1>
                <p>
                    This software is heavily based on the npm module bluetooth-obd (<a href="https://www.npmjs.com/package/bluetooth-obd">https://www.npmjs.com/package/bluetooth-obd</a>) authored by Eric Smekens and licensed as Apache License 2.0
                </p>
                <p/>

                <button class="button button-block" ui-sref="log">View Log
                </button>

            </ion-content>
        </ion-view>
    </script>
    <script id="log.html" type="text/ng-template">
        <ion-view view-title="OBD Logger Operational Log">
            <ion-content class="padding">
                <ul class="list" ng-init="readLogEntries()">
                    <li ng-repeat="logentry in logentries track by $index">
                        {{logentry}}</li>
                </ul>


            </ion-content>
        </ion-view>
    </script>
</body>
<script src="lib/ionicframework/move.js" type="text/javascript"></script>

</html>
